@font-face {
	font-family: "Anonymous Pro";
	src: url(../fonts/AnonymousPro-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: "Anonymous Pro";
	src: url(../fonts/AnonymousPro-Regular.ttf);
}
